{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}
<div class="form-control">
	{{ form_start(form) }}
	<div class="form-control-lg">{{ form_label(form.title) }}</div>
	<div class="form-control-lg">{{ form_widget(form.title) }}</div>

	<div class="form-control-lg">{{ form_label(form.description) }}</div>
	<div class="form-control-lg" id="exampleFormControlTextarea1" rows="3">{{ form_widget(form.description) }}</div>
	<div class="form-control-lg">{{ form_label(form.imgUrl1) }}</div>
	<div class="form-control-lg">{{ form_widget(form.imgUrl1) }}</div>
	<div class="form-control-lg">{{ form_label(form.imgUrl2) }}</div>
	<div class="form-control-lg">{{ form_widget(form.imgUrl2) }}</div>
	<div class="form-control-lg">{{ form_label(form.linkRepo) }}</div>
	<div class="form-control-lg">{{ form_widget(form.linkRepo) }}</div>
	<div class="form-control-lg">{{ form_label(form.linkSite) }}</div>
	<div class="form-control-lg">{{ form_widget(form.linkSite) }}</div>

	{{ form_rest(form) }}
	<button type="submit">Submit</button>
	{{ form_end(form) }}
</div>

{% endblock %}
