{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}


<div>
    <h1 class="display-4">Hi my name is Teodor, I am your new web developper </h1>

   
    <ul>
        <img style="width:100%" src="https://static.giga.de/wp-content/uploads/2017/08/iStock-153725189-hide-the-pain-harold-rcm850x478u.jpg"></img>
        
    </ul>
</div>
{% endblock %}
