{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Add new project to portfolio </h1>

   <form action="/add-project" method="post">
  <div class="form-group">
    <label >Project title</label>
    <input name="title" type="title" class="form-control" placeholder="Insert project title here">
    <small  class="form-text text-muted"></small>
  </div>
<div class="form-group">
    <label >Project description</label>
    <input name="description" type="description" class="form-control" placeholder="Insert project description">
    <small  class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label >Project's first image</label>
    <input name="imgUrl1" type="imgUrl1" class="form-control" placeholder="Insert project's first image here">
    <small  class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label >Project's second image</label>
    <input name="imgUrl2" type="imgUrl2" class="form-control" placeholder="Insert project's second image here">
    <small  class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label >Project's repository link</label>
    <input name="linkRepo" type="title" class="form-control" placeholder="Insert project's repository link here">
    <small  class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label >Project's link to site</label>
    <input name="linkSite" type="title" class="form-control" placeholder="Insert project' site link here">
    <small  class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}