{% extends 'base.html.twig' %}

{% block title %}Teodor's Portfolio!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Here are my projects</h1>

    <ul>
    {%for item in data %}
    <h2>{{item.title}}</h2>
    <img  style="width: 100%" src="{{item.imgUrl1}}"></img>
    <img  style="width: 100%" src="{{item.imgUrl2}}"></img>
    <p>{{item.description}}<p/>
    <p>{{item.linkRepo}}<p/>
    <p>{{item.linkSite}}<p/>
    {%endfor%}
    </ul>
</div>
{% endblock %}